@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  /* App.css */

/* Đảm bảo không có tràn viền cho carousel */
.slick-slider {
    overflow: hidden;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center; /* Căn giữa ảnh trong mỗi slide */
    align-items: center;
  }
  
  .slick-list {
    padding: 0 !important; /* Loại bỏ padding mặc định của slick-carousel */
  }
  
  .slick-prev, .slick-next {
    z-index: 10; /* Đảm bảo các nút điều hướng hiển thị trên cùng */
  }
  
  .slick-prev:before, .slick-next:before {
    color: #fff; /* Màu sắc cho nút điều hướng */
  }
  
  /* Thêm khoảng cách giữa các slide */
  .slick-slide img {
    border-radius: 8px; /* Bo tròn các góc ảnh */
    max-width: 100%; /* Đảm bảo ảnh không bị giãn ra quá rộng */
    height: auto; /* Đảm bảo tỷ lệ ảnh đúng */
  }
  
  /* Đảm bảo phần tử carousel không bị tràn viền */
  .slick-track {
    display: flex;
    justify-content: space-between; /* Căn đều các ảnh trong carousel */
  }
  